<div class="navigation">
  <div class="navigation__logo">
    <svg-icon class="icon" src="assets/icons/me.svg">
    </svg-icon>
    <div class="title">Khakimov</div>
    <div class="sub-title">Front-end developer</div>
  </div>
  <div class="navigation__bar">
    <app-link logo="dashboard"
              title="Dashboard"
              [isActive]="true">
    </app-link>
    <app-link logo="event"
              title="My projects">
    </app-link>
    <app-link logo="payments"
              title="Payments">
    </app-link>
    <app-link logo="people"
              title="People">
    </app-link>
    <app-link logo="settings"
              title="Settings">
    </app-link>
  </div>
</div>
