.navigation {
  background: rgba(0, 0, 0, 0.33);
  //margin-top: 30px;
  padding: 50px 50px 40px 50px;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 200px;


    .text {
      position: relative;
      font-style: normal;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: uppercase;
      margin-left: 20px;

      &__stars {
        position: absolute;
        display: block;
        opacity: 0%;
        width: 0px;
        height: 0px;
        //width: 43px;
        //height: 57px;
        top: 5px;
        right: 0px;

        //width: 43px;
        transition: 1s;
      }

      &__first {
        -webkit-transition: 1s;
        margin-bottom: 3px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        background: linear-gradient(94.77deg, #48B760 0%, #6BB748 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

      &__second {
        -webkit-transition: 1s;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.49em;
        background: linear-gradient(90deg, #952AEC 20.41%, #7930FF 90.36%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

    }

    &:hover {
      .text__stars {
        right: -40px;
        top: -13px;
        width: 43px;
        height: 57px;
        transition: 1s;
        display: block;
        opacity: 100%;
      }

      .text__first {
        transition: 1s;
        font-size: 28px;
      }

      .text__second {
        transition: 1s;
        font-size: 12px;
      }
    }

  }

  &__list {
    display: flex;

    .link {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5px;
      width: 121px;
      height: 44px;
      border-radius: 15px;
      transition: 1s;
      border: 1px solid transparent;
      margin-right: 40px;
      position: relative;

      span {
        transition: 1s;
        color: #828282;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;

      }

      .star {
        cursor: default;
        position: absolute;
        display: block;

        &._low {
          width: 25px;
          height: 25px;
          top: -30px;
          right: -13px;
          transition: 1s;
          opacity: 0;

          &-active {
            transition: 1.3s;
            opacity: 100%;
            animation: move-low 1.3s;
            @keyframes move-low {
              from {
                top: -113px;
                right: -13px;
              }
              to {
                top: -30px;
                right: -13px;
              }
            }
          }

          &-deactive {
            transition: 1.3s;
            opacity: 100%;
            animation: move-low-d 1.3s;
            @keyframes move-low-d {
              from {
                top: -30px;
                right: -13px;
              }
              to {
                top: -113px;
                right: -13px;

              }
            }
          }
        }

        &._middle {
          width: 35px;
          height: 35px;
          top: -20px;
          right: -44px;
          opacity: 0;
          transition: 1.3s;

          &-active {
            transition: 1.6s;
            opacity: 100%;
            animation: move-middle 1.6s;
            @keyframes move-middle {
              from {
                top: -113px;
                right: -44px;
              }
              to {
                top: -20px;
                right: -44px;
              }
            }
          }

          &-deactive {
            transition: 1.6s;
            opacity: 100%;
            animation: move-middle-d 1.6s;
            @keyframes move-middle-d {
              from {
                top: -20px;
                right: -44px;
              }
              to {
                top: -113px;
                right: -44px;

              }
            }
          }
        }

        &._bigger {
          width: 50px;
          height: 50px;
          top: 3px;
          right: -42px;
          opacity: 0;
          transition: 1.6s;

          &-active {
            transition: 2s;
            opacity: 100%;
            animation: move-bigger 2s;
            @keyframes move-bigger {
              from {
                top: -113px;
                right: -42px;
              }
              to {
                top: 3px;
                right: -42px;
              }
            }
          }

          &-deactive {
            transition: 2s;
            opacity: 100%;
            animation: move-bigger-d 2s;
            @keyframes move-bigger-d {
              from {
                top: 3px;
                right: -42px;
              }
              to {
                top: -113px;
                right: -42px;
              }
            }
          }
        }
      }

      &:hover {
        border-radius: 100px;
        transition: 1s;

        span {
          transition: 1s;
          color: #fff;
        }

        border: 1px solid #7341DE;
      }

      &._active {
        border-radius: 100px;
        border: 1px solid transparent;
        background: linear-gradient(90deg, #892CF4 0%, #7930FF 100%);
        transition: 1s;
        animation: active 2s;
        @keyframes active {
          from {
            background: transparent;
          }
          to {
            background: linear-gradient(90deg, #892CF4 0%, #7930FF 100%);
            opacity: 100%;
          }
        }

        span {

          color: #fff;
        }

      }
    }
  }

  &__buttons {
    position: relative;
    .button-line {
      cursor: pointer;
      position: absolute;
      top: -22px;
      left: -15px;
      font-style: italic;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #E5E5E5;
      box-shadow: 0 4px 20px rgba(115, 205, 0, 0.1);
      width: 180px;
      height: 44px;
      border-radius: 22px;
      background: url('/assets/mask-button.png'), linear-gradient(90deg, #A748B7 37.53%, #882398 90.36%);;
    }

    .button-sub {
      cursor: pointer;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      padding-top: 29px;
      justify-content: center;
      text-align: center;
      color: #2892C8;
      width: 164px;
      height: 58px;
      background: #F1FBF8;
      border-radius: 0px 0px 22px 22px;
    }
  }
}
