<div class="steps">
  <div class="steps__first">
    <div class="text">
      <span class="text__title">ШАГ 1 </span>
      <span class="text__sub-title">
      Для начала игры, вам необходимо скачать лаунчер майнкрафт
      и выбрать необходимую версию,
      для бесплатного сервера необходима версия 1.17 и выше, советуем ставить 1.19+,
      для получения максимального игрового опыта
    </span>
    </div>
    <div class="image">
      <div class="image__left">
        <img class="image__island _first" src="/assets/step/island-6%201.png" alt="island">
      </div>
      <div class="image__right">
        <img class="image__cloud _first" src="/assets/step/cloud-1%202.png" alt="island">
        <img class="image__home" src="/assets/step/step-one-home.png" alt="island">
        <img class="image__cloud _second" src="/assets/step/cloud-7%20(1)%202.png" alt="island">
        <img class="image__island _second" src="/assets/step/island-2%201.png" alt="island">
      </div>
    </div>
  </div>
  <div class="steps__second">
    <img
      class="image__cloud"
      src="/assets/step/cloud-1%201.png" alt=""
    >
    <div class="text">
      <span class="text__title">ШАГ 2</span>
      <span class="text__sub-title">
        Зайти во вкладку с серверами и добавьте
        или присоеденитесь к
        нашему серверу используя следующий АЙПИ АДРЕС:  sw-play.ml
    </span>
    </div>
  </div>
  <div class="steps__third">
    <div class="image">
      <img
        class="image__island"
        src="/assets/step/servers-hub-3%201.png" alt=""
      >
    </div>
    <div class="right-side">
      <img class="cloud" src="/assets/step/cloud-5%201.png" alt="">
      <div class="text">
        <span class="text__title">ШАГ 3</span>
        <span class="text__sub-title">
        Зайти на сервер и зарегистрироваться.
        Ознакомиться с правилами и принять соглашение.
        До этого момента вы не сможете двигаться и взаимодейстовать с миром.
        </span>

      </div>
      <img class="island" src="/assets/step/island-1%201.png" alt="">
    </div>
  </div>
  <div class="steps__four">
    <div class="container">
      <img class="images__start-cloud" src="/assets/step/cloud-7%20(1)%201.png" alt="">
      <div class="text">
        <span class="text__title">ШАГ 4</span>
        <div class="text__sub-title">
        Играйте и получайте удовольствие.
        Но если вы хотите поиграть на SavedWorld, то
        вам необходимо купить проходку на трансляциях
        у наших стримеров за баллы или
          <a class="link"
             target="_blank"
             href="https://www.donationalerts.com/r/savedworld"> купить проходку тут</a>.
    </div>
      </div>
    </div>
<!--    <img class="images__men" src="/assets/step/32535235%201.png" alt="">-->
  </div>
  <div class="steps__five">
    <img src="/assets/step/servers-hub-2%201.png" alt="" class="island">
    <div>
      <img src="/assets/step/cloud-5%202.png" alt="" class="cloud">
      <div class="text">
        <span class="text__title">ШАГ 5</span>
        <span class="text__sub-title">
      Не нарушайте правила и вступайте в
          наши сообщества Вконтакте и Дискорд.
          Смотрите наши стримеры и играйте в своё удовольствие!
    </span>
      </div>
    </div>


  </div>
</div>
