<div class="main">
  <div class="video-background">
    <div class="video-foreground">
      <video src="/assets/video/video.mp4" autoplay muted loop="loop">
      </video>
    </div>
  </div>
  <app-header >

  </app-header>
  <!--<div class="header">
    <app-header></app-header>
  </div>-->
  <!--  TODO: link for msg-->
  <!--  <a href="https://vk.com/write-209328214"
       target="_blank">сообщение</a>-->
  <!--  <section class="information">-->
  <!--    <app-information></app-information>-->
  <!--  </section>-->
  <!--  <section class="news">-->
  <!--    <app-news></app-news>-->
  <!--  </section>-->
</div>
