.main {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  .header{
    background: url("/assets/video.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .information{

  }
}
