.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .title {
    width: 1200px;
    margin: 0 auto 121px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__main {
      font-weight: 700;
      font-size: 128px;
      line-height: 144px;
      text-transform: uppercase;
      color: #D9D9D9;
    }

    &__subtitle {
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
      text-transform: uppercase;
      color: #D9D9D9;
    }
  }

}
