<div class="news">
  <div class="news__header">
    <div class="title">
      <h2>новости</h2>
      <img src="/assets/vk.png" alt="vk">
    </div>
    <div class="subtitle">
      <span>
      Актуальная информация и новости касающиеся
      нашего сервера, переходите в нашу группу Вконтакте
      и Дискорд канал. Только там выходят новости быстрее всего
        </span>
    </div>
  </div>
  <div class="news__main">
    <img src="assets/info.png" alt="last-info">
  </div>
  <div class="news__footer">
    <h4 class="title">Если вам нравится, подписывайтесь
      на наш Вконтакте</h4>
    <div class="subtitle">
      <img src="/assets/white_vk.png" alt="vk">
      <div class="subtitle__dot">
        <span>.</span>
      </div>
      <span>Новость может быть устаревшей, толкайте администрацию</span>
    </div>
  </div>
</div>
