<div class="servers">
  <div class="servers__header">
    <span class="title">Наши сервера</span>
    <span class="subtitle">
      У нас есть несколько серверов, тут вы можете
      кратко ознакомиться с каждым из них.
      Вы автоматически попадёте на WastedServer, который
      является нашим лобби и местом для игры и комфортного выживания
    </span>
  </div>
  <div class="servers__list">
      <div class="item">
        <div class="item__images">
          <img src="/assets/servers/serv1.png" alt="">
          <img class="logo" src="/assets/servers/serv_logo1.png" alt="">
        </div>
        <div class="item__description">
          <span class="title _green">WastedServer</span>
          <span class="sub-title">
            Ванильный сервер для всех.
            Вход абсолютно бесплатный. Сервер без приватов.
            Адекватные ограничения и правила. Отзывчивая модерация и полная свобода действий.
            Атмосфера ванильного Майнкрафта не будет отпускать вас! </span>
        </div>
      </div>
    <div class="item">
        <div class="item__images">
          <img src="/assets/servers/serv2.png" alt="">
          <img class="logo" src="/assets/servers/serv_logo2.png" alt="">
        </div>
        <div class="item__description">
          <span class="title _purple">SavedWorld</span>
          <span class="sub-title">
           Приватный ванильный сервер с элементами РП.  Вход по проходке.
            Имеется свой текстурпак, а так же стоят плагины улучшающие коммуникабельность,
            например PlasmoVoice, EmoteCraft, DiscordSRV и т.д .
          </span>
        </div>
      </div>
    <button class="button">
      <a class="button__link" target="_blank"
         href="https://www.donationalerts.com/r/savedworld">Купить проходку</a>
    </button>
  </div>

</div>
