<div class="information">
  <div class="information__moon">

  </div>
  <div class="information__container">
    <div class="information__text">
      <div class="title">
        <h2 class="title__text _first">SAVED</h2>
        <h2 class="title__text _second">WORLD</h2>
      </div>
      <div class="subtitle">
      <span class="subtitle__first">
          Это комплекс серверов Minecraft без донатов и с ванильной атмсоферой
      </span>
        <span class="subtitle__second">
          Хоть мы и придерживаемся правилам ванильной игры, но на наших серверерах присутсвуют плагины и текстурпаки
      </span>
      </div>
    </div>
    <div class="information__static-slide">
      <div class="slide _low">
        <div class="slide__title">
          <img src="/assets/no-donate.png" alt="no-donate">
          <span>Без донатов</span>
        </div>
        <img src="/assets/first_place.png" alt="first_place">
      </div>
      <div class="slide _middle">
        <div class="slide__title">
          <img src="/assets/greet.png" alt="greet">
          <span>Без лагов</span>
        </div>
        <img src="/assets/second_place.png" alt="second_place">
      </div>
      <div class="slide _bigger">
        <div class="slide__title">
          <img src="/assets/hand.png" alt="hand">
          <span>Дружелюбность</span>
        </div>
        <img src="/assets/last_place.png" alt="last_place">
      </div>
    </div>
  </div>
  <app-steps></app-steps>
</div>
