<div class="stream">
  <div class="stream__template">
    <div class="title">
      <span>СТРИМЕРЫ</span>
      <img src="assets/twitch.png" alt="twitch">
    </div>
    <span class="subtitle">
      На сервере играют стримеры с платформы Twitch, и если вам нравятся стримы и
      играть в Minecraft, то почему бы не совместить приятное с приятным?
    </span>
    <div class="list">
     <div class="list__description">
       <div class="selector">
         <img src="/assets/left_arrow.png" alt="" class="button arrow-left">
         <span>Скоро...</span>
         <img src="/assets/right_arrow.png" alt="" class="button arrow-right">
       </div>
       <div class="text">
         <span class="text__title">Находится в разработке</span>
         <span class="text__sub-title">Здесь вы увидите ваших любимых стримеров нашего сервера</span>
       </div>
     </div>
      <div class="place">
        <img class="place__men" src="/assets/strimer.png" alt="">
        <img src="/assets/place.png" alt="">
      </div>
    </div>
  </div>
</div>
