<div class="stream">
  <div class="stream__template">
    <div class="title">
      <span>СТРИМЕРЫ</span>
      <img src="assets/twitch.png" alt="twitch">
    </div>
    <span class="subtitle">
      На сервере играют стримеры с платформы Twitch, и если вам нравятся стримы и
      играть в Minecraft, то почему бы не совместить приятное с приятным?
    </span>
    <div class="list">
      <div class="list__item _purple">
        <span class="list__item-title _green">egorinTXC</span>
        <span class="list__item-subtitle _white">p.s я быдло</span>
        <img class="list__item-icon _egor" src="assets/egor.png" alt="egor">
      </div>
      <div class="list__item _yellow">
        <span class="list__item-title _purple">JSU404</span>
        <span class="list__item-subtitle _black">p.s дада я.</span>
        <img class="list__item-icon _jas" src="assets/jusmin.png" alt="jusmin">
      </div>
    </div>
  </div>
</div>
